/* zero custom styles for photoswipe */

/*==================================
SWIPER - minimal styling
===================================*/
/* semantic HTML - remove bullet and space from the list */
ul.swiper-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Swiper container */
.swiper-container {
  max-width: 100%;
}

/* swiper responive image */
.swiper-container img {
  width: 100%;
  height: auto;
}

.swiper-slide {
  /* Remove this if you want 1 slide perview - than change slidesPerView js-option to 1 -or- 2+ instead of 'auto' */
  width: 80%;
}

/* Swiper custom pagination */
.swiper-pagination-bullet {
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Swiper custom pagination */
.swiper-pagination-bullet:hover {
  transition: background-color 0.5s ease;
  background: rgba(0, 0, 0, 1);
  color: white;
}

/* Swiper custom pagination active state */
.swiper-pagination-bullet-active {
  color: #fff;
  background: black;
}


/*==================================================================
CODEPEN STYLES -(under codepen gear/setting icon)
==============================================++++++================*/
.tippy-tooltip.light-theme {
  color: #26323d;
  box-shadow: 0 0 20px 4px rgba(154, 161, 177, 0.15),
    0 4px 80px -8px rgba(36, 40, 47, 0.25),
    0 4px 4px -2px rgba(91, 94, 105, 0.15);
  background-color: white;
}

.tippy-backdrop {
  background-color: white;
}

.tippy-roundarrow {
  fill: white;
}

/* Default (sharp) arrow */
.tippy-popper[x-placement^='top'] .tippy-tooltip.light-theme .tippy-arrow {
  border-top-color: #fff;
}
.tippy-popper[x-placement^='bottom'] .tippy-tooltip.light-theme .tippy-arrow {
  border-bottom-color: #fff;
}
.tippy-popper[x-placement^='left'] .tippy-tooltip.light-theme .tippy-arrow {
  border-left-color: #fff;
}
.tippy-popper[x-placement^='right'] .tippy-tooltip.light-theme .tippy-arrow {
  border-right-color: #fff;
}
/* Round arrow */
.tippy-tooltip.light-theme .tippy-roundarrow {
  fill: #fff;
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: #000;
    font-size: 25px;
}





/*personnalisé*/
.pswp__ui--idle .pswp__button--arrow--left, .pswp__ui--idle .pswp__button--arrow--right {
    opacity: 1;
}

.catalog-product-view button.pswp__button:hover {
    background:none;
    border: none;
}

.pswp__bg {
    opacity: 0.3!important;
}

.pswp--animated-in .pswp__zoom-wrap {
    transform: translate3d(0px, 0px, 0px)!important;
}

img.pswp__img {
    width: 80%!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    width: 80%!important;
    max-width: none;
}
